Tests/Xsd/X12Envelope.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="www.edifabric.com/x12" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="INTERCHANGE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="S_ISA">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="D_744_1" type="xs:string" />
							<xs:element name="D_745_2" type="xs:string" />
							<xs:element name="D_746_3" type="xs:string" />
							<xs:element name="D_747_4" type="xs:string" />
							<xs:element name="D_704_5" type="xs:string" />
							<xs:element name="D_705_6" type="xs:string" />
							<xs:element name="D_704_7" type="xs:string" />
							<xs:element name="D_706_8" type="xs:string" />
							<xs:element name="D_373_9" type="xs:string" />
							<xs:element name="D_337_10" type="xs:string" />
							<xs:element name="D_726_11" type="xs:string" />
							<xs:element name="D_703_12" type="xs:string" />
							<xs:element name="D_709_13" type="xs:string" />
							<xs:element name="D_749_14" type="xs:string" />
							<xs:element name="D_748_15" type="xs:string" />
							<xs:element name="D_701_16" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="GROUPS">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="GROUP">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="S_GS">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="D_479_1" type="xs:string" />
													<xs:element name="D_142_2" type="xs:string" />
													<xs:element name="D_124_3" type="xs:string" />
													<xs:element name="D_29_4" type="xs:string" />
													<xs:element name="D_30_5" type="xs:string" />
													<xs:element name="D_28_6" type="xs:string" />
													<xs:element name="D_455_7" type="xs:string" />
													<xs:element name="D_480_8" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="MESSAGES">
											<xs:complexType>
												<xs:sequence>
													<xs:element maxOccurs="unbounded" name="MESSAGE">
														<xs:complexType>
															<xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="1" name="Item">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:any processContents="lax" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="1" name="Context">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" maxOccurs="1" name="Tag" type="xs:string" />
                                      <xs:element minOccurs="0" maxOccurs="1" name="Version" type="xs:string" />
                                      <xs:element minOccurs="0" maxOccurs="1" name="Origin" type="xs:string" />
                                      <xs:element minOccurs="0" maxOccurs="1" name="Format" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="S_GE">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="D_97_1" type="xs:string" />
													<xs:element name="D_28_2" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="S_IEA">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="D_405_1" type="xs:string" />
							<xs:element name="D_709_2" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>